<div class="container">
  <div class="row">
      <div class="col" style="margin: auto; width: 80%">
          <h1>Documento</h1>
          <hr/>    
          <nav>
            <a class="button" routerLink="/generar" routerLinkActive="activebutton"> Generar </a> |
            <a class="button" routerLink="/requisicion" routerLinkActive="activebutton"> Requisición </a> |
            <a class="button" routerLink="/lista-producto" routerLinkActive="activebutton"> Lista Productos </a> |
            <a class="button" routerLink="/listar-presupuesto" routerLinkActive="activebutton"> Lista Presupuesto </a> |
            <a class="button" routerLink="/autorizacion" routerLinkActive="activebutton"> Autorización </a>
          </nav>
      </div>
  </div>
</div>

<router-outlet></router-outlet>

